#container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1{
    width: 90vw;
    max-width: 800px;
    text-align: center;
}

#game_board{
    display: flex;
    flex-direction: column;
    width: 90vw;
    max-width: 800px;
}

.row{
    display: flex;
    justify-content: center;
}

.cell{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    width: max-content;
    aspect-ratio: 1 / 1;
    max-width: 30vh;
}

.left_cell{
    border-right: 2px solid black;
}

.right_cell{
    border-left: 2px solid black;
}

.top_cell{
    border-bottom: 2px solid black;
}

.bottom_cell{
    border-top: 2px solid black;
}


